.hidden
{
      display: none;
}
.show
{
      display: block;
}
.showTable
{
      display: table-row;
}
.right
{
      float: right;
}
.left
{
      float: left;
}
textarea
{
      width: 100%;
}
.center
{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
}
.bubbleInfo
{
      position: relative;
}
.popup
{
      position: absolute;
      display: none;
}
.popup-content th
{
      background-color: white !important;
}
#summaryReportTable th, #summaryReportTable td
{
	border:hidden;
}
.sent
{
	background: rgb(106, 10, 10) !important;
}

.notSent
{
	background: rgb(10, 106, 71) 50% 50% repeat-x !important;
}

