/*This takes care of centering things*/
.centered, table.centered
{
text-align:center;
margin-left:auto;
margin-right:auto;
}
/*This takes care of the title*/
#timeTrackTitle
{
font-size:45px;
color:#000066;
font-family:Times;
}
/*This takes care of aligning the Submit Changes button to the right*/
.alignRigth
{
float:right;
}
/*This is used to hide the remaining modify entries when there are more than 1. Only the first one is displayed by default. The slideToggle command makes this visible*/
.modifyField
{
display:none;
}
/*This is an specific code to firefox because it was not resizing the table according to the screen like all the other browsers do*/
@-moz-document url-prefix() { 
  #mic 
  {
width:130px;

  }
}
/*This is to change the cursor when you move it over the modified column to show that you can click on it and have it expand*/
.clickable:hover
{
cursor:pointer;
}
#timeTrackSearchTable_wrapper  .fg-toolbar
{
display:none;
}
.ui-button
{
border:0px !important;
padding: .3em 1em !important;
}
table, td, th, .ui-widget-header {
border: 1px solid white !important;
}
#logInfo
{
width:943px;
}
.dataTables_wrapper
{
width:943px !important;
}
